<configuration>
    <system.webServer>
        <!-- See http://stackoverflow.com/questions/15144405/windows-azure-websites-is-overriding-my-404-and-500-error-pages-in-my-node-js-ap -->
        <httpErrors existingResponse="PassThrough" />

        <handlers>
            <!-- indicates that the app.js file is a node.js application to be handled by the iisnode module -->
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>

        <staticContent>
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
        </staticContent>

        <rewrite>
            <rules>
                <!-- Don't interfere with requests for node-inspector debugging -->
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^server.js\/debug[\/]?" />
                </rule>

                <!-- First we consider whether the incoming URL matches a physical file in the /client folder -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="client{REQUEST_URI}" />
                </rule>

                <!-- All other URLs are mapped to the Node.js application entry point -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>

        <!-- You can control how Node is hosted within IIS using the following options -->
        <!--<iisnode      
                      node_env="%node_env%"
                      nodeProcessCountPerApplication="1"
                      maxConcurrentRequestsPerProcess="1024"
                      maxNamedPipeConnectionRetry="3"
                      namedPipeConnectionRetryDelay="2000"      
                      maxNamedPipeConnectionPoolSize="512"
                      maxNamedPipePooledConnectionAge="30000"
                      asyncCompletionThreadCount="0"
                      initialRequestBufferSize="4096"
                      maxRequestBufferSize="65536"
                      watchedFiles="*.js"
                      uncFileChangesPollingInterval="5000"      
                      gracefulShutdownTimeout="60000"
                      loggingEnabled="true"
                      logDirectoryNameSuffix="logs"
                      debuggingEnabled="true"
                      debuggerPortRange="5058-6058"
                      debuggerPathSegment="debug"
                      maxLogFileSizeInKB="128"
                      appendToExistingLog="false"
                      logFileFlushInterval="5000"
                      devErrorsEnabled="true"
                      flushResponse="false"      
                      enableXFF="false"
                      promoteServerVars=""
                     />-->
        <iisnode 
            node_env="production"
            watchedFiles="*.js;server\*.js;node_modules\*;server\routes\*.js;server\views\*.vash;iisnode.yml;server\views\*.ejs;views\*.jade"
            />

        <httpProtocol>
            <customHeaders>
                <!-- disable server affinity : http://microsoftazurewebsitescheatsheet.info/#disable-server-affinity -->
                <add name="Arr-Disable-Session-Affinity" value="true" />

                <!-- 
                    Force the latest IE version, in various cases when it may fall back to IE7 mode
                    github.com/rails/rails/commit/123eb25#commitcomment-118920
                    Use ChromeFrame if it's installed for a better experience for the poor IE folk 
                -->
                <add name="X-UA-Compatible" value="IE=Edge,chrome=1"/>
            </customHeaders>
        </httpProtocol>

        <!-- see http://azure.microsoft.com/blog/2014/01/28/more-to-explore-configuration-options-unlocked-in-windows-azure-web-sites/ -->
        <httpCompression>
            <dynamicTypes>
                <add enabled="true" mimeType="text/*"/>
                <add enabled="true" mimeType="message/*"/>
                <add enabled="true" mimeType="application/x-javascript"/>
                <add enabled="true" mimeType="application/javascript"/>
                <add enabled="true" mimeType="application/json"/>
                <add enabled="true" mimeType="application/atom+xml"/>
                <add enabled="true" mimeType="application/xaml+xml"/>
                <add enabled="true" mimeType="application/atom+xml;charset=utf=8"/>
                <add enabled="false" mimeType="*/*"/>
            </dynamicTypes>
            <staticTypes>
                <add enabled="true" mimeType="text/*"/>
                <add enabled="true" mimeType="message/*"/>
                <add enabled="true" mimeType="application/x-javascript"/>
                <add enabled="true" mimeType="application/javascript"/>
                <add enabled="true" mimeType="application/json"/>
                <add enabled="true" mimeType="application/atom+xml"/>
                <add enabled="true" mimeType="application/xaml+xml"/>
                <add enabled="true" mimeType="application/atom+xml;charset=utf=8"/>
                <add enabled="false" mimeType="*/*"/>
            </staticTypes>
        </httpCompression>

    </system.webServer>
</configuration>
