extends layout

block content

    .row

    .row
      .medium-6.columns
        h3 about
        p
          |The Bechdel Test, sometimes called the Mo Movie Measure or Bechdel Rule is a simple test which names the following three criteria:
        p
          |1) It includes at least two women
        p
          |2) who have at least one conversation
        p
          |3) about something other than a man or men.
        p
          |The test was popularized by Alison Bechdel's comic Dykes to Watch Out For, in a 1985 strip called The Rule. For a nice video introduction to the subject please check out The Bechdel Test for Women in Movies on feministfrequency.com.
      .medium-6.columns
        h3 about the bechdel test
        p
          a(href='http://alisonbechdel.blogspot.com/2005/08/rule.html')
            | DTWOF: The Blog about
            i The Rule
        p
          a(href='http://en.wikipedia.org/wiki/Bechdel_test') Wikipedia: Bechdel test
        p
          a(href='http://squarise.com/2011/09/bechdel-test-is-matters/') The Bechdel Test: What It Is, And Why It Matters
        p
          a(href='http://tvtropes.org/pmwiki/pmwiki.php/Main/BechdelsRule') TV Tropes Wiki: Bechdels Rule
        p
          a(href='http://www.spiraling.com/words/movies.html') A New Rating System for Movies
    .row
      .medium-6.columns
        h3 articles
        p
          a(href='http://fivethirtyeight.com/features/the-dollar-and-cents-case-against-hollywoods-exclusion-of-women/') The Dollar-And-Cents Case Against Hollywood's Exclusion of Women
        p
          a(href='http://www.overthinkingit.com/2010/10/11/female-character-flowchart/') The Female Character Flowchart
        p
          a(href='http://latimesblogs.latimes.com/movies/2010/02/where-are-the-women-.html') Memo to all women: No half for you in Hollywood
        p
          a(href='http://thehathorlegacy.com/why-film-schools-teach-screenwriters-not-to-pass-the-bechdel-test/') Why film schools teach screenwriters not to pass the Bechdel test
        p
          a(href='http://thehathorlegacy.com/remember-when-i-said-they-teach-you-not-to-write-screenplays-with-women-as-leads/')
            | Remember when I said they teach you not to write screenplays with women as leads?
        p
          a(href='http://socialjusticefeminist.blogspot.com/2008/05/cartoons-are-more-than-just.html') Cartoons are more than just entertainment
        p
          a(href='http://www.npr.org/templates/story/story.php?storyId=94202522') The 'Bechdel Rule,' Defining Pop-Culture Character
      .medium-6.columns
        h3 review sites
        p
          a(href='http://feministreview.blogspot.com/') Feminist Review
        p
          a(href='http://bechdelandme.blogspot.com/') Bechdel and Me
        p
          a(href='http://thebechdeltest.blogspot.com/') No, Kissing in the Rain Is Not Acceptable
        p
          a(href='http://www.womenandhollywood.com/') Women & Hollywood
        p
          a(href='http://popgoesalicia.wordpress.com/') pop!goesalicia
        p
          a(href='http://animation.memory-motel.net/') A Feminist Critique of Animation
        p
          a(href='http://www.mith2.umd.edu/WomensStudies/FilmReviews/') Women's Studies Database ♀ Film Reviews

    .row.about
      .medium-6.large-8.columns
        h4 philosophy
        p
          |This collaborative digital humanities project by Joe and I is the product of a shared passion for film, feminism, and the creative potential of technology. By combining the talents and interests of myself, an English scholar, and Joe, a software engineer, we’ve been able to create an innovative data mining tool for film analysis that we hope to continue to work on and improve.
        p
          |This project was born when I reached out to Joe for advice on a few ideas I had been mulling over for a digital humanities project. Hoping to do something related to feminist film analysis, I was feeling very limited by my lack of coding experience and hadn’t been able to find an existing data mining tool to accomplish what I was looking to do. Joe immediately offered up his coding expertise, looking to gain experience by building a tool from scratch which would accomplish the specific needs of the project. After brainstorming several different project ideas, we settled on the one you see here.
        p
          |We selected this project not only based on our shared interest in it, but also due to the current lack of digital humanities projects related to film. Data mining tools are so often used to analyze literature and other texts, but Joe and I noticed a gap in digital scholarship related to film. We recognize that the importance of this tool lies in its ability to analyze films on the macro-level. While anyone can sit through a film with a notebook and pencil in order to determine if it passes the Bechdel Test, this is a slow and cumbersome process. With the tool we’ve created, the process is automated, which allows massive amounts of data to be generated with ease. Thus, data can be produced for large bodies of film, i.e. a certain director’s filmography, a certain actress’ body of work, or for the films released in a specific year.
        p
          |This project has also been an experiment in collaboration. All of the work on this project has been done without in-person meetings or a physical workspace, as I currently live in Boulder, Colorado while Joe resides in Honolulu, Hawaii. Due to the ocean that separates us, Joe and I have mainly relied on FaceTime, iMessage, and Google Docs in order to stay connected. While this process was not without its challenges, we’re excited to have successfully embraced the spirit of collaboration -- a key tenet of the digital humanities field.
        p
          |We view this tool as a form of feminist activism. As such, the software is open source and available for use by anyone and everyone.
        p
          |--Laurel

        section.section
          .content(data-slug='panel2')
            ul.large-block-grid-5
              li
                a(href='mailto:laurelcarlson1@gmail.com')
                  img(src='/img/laurel1.jpeg')
                  | Laurel Karlsson
              li
                a(href='http://www.callmejoe.net/')
                  img(src='/img/joe.png')
                  | Joe Karlsson