extends layout

block content

  .row
    .large-12.columns.text-left
      h1 Birdman or (The Unexpected Virtue of Ignorance) (2014)

  .row
    .large-4.columns
      .poster
        img(src="http://www.movienewz.com/img/gallery/birdman/posters/birdman-movie-poster-1.jpg")
      h5 Bechdel Test: Failed
      h5 Bechdel Score: 1 out of 3

    .large-4.columns
        p
          |Illustrated upon the progress of his latest Broadway play, a former popular actor's struggle to cope with his current life as a wasted actor is shown.
        p
          |Director: Alejandro González Iñárritu (as Alejandro G. Iñárritu)
          |Writers: Alejandro González Iñárritu (as Alejandro G. Iñárritu)
          |Stars: Michael Keaton, Zach Galifianakis, Edward Norton
        p
          |Genre: Comedy | Drama
        p
          |Budget: $22,000,000 (estimated)
          |Opening Weekend: $424,397 (USA) (17 October 2014)
          |Gross: $42,335,698 (USA) (10 April 2015)

    .large-4.columns
      iframe(width="100%", height="100%", src="https://www.youtube.com/watch?v=2bqh-UCY6Zg", frameborder="0", allowfullscreen="")
      p
        a(href='http://www.imdb.com/title/tt2562232/') IMDB Page
      p
        a(href='http://bechdeltest.com/view/5911/birdman/') bechdeltest.com Page

  .row
    .large-4.columns
      p.text-center
        |Number of scenes that passed the Bechdel Test
      div#passedBechdelDonut.chart

    .large-4.columns
      p.text-center
        |Characters with dialogue
      div#charWithDialogueDonut.chart

    .large-4.columns
      p.text-center
        |Total lines of dialogue
      div#totalLinesDialogueDonut.chart

  script(src="/js/graph.js")