extends layout

block content

  .row
    .large-9.columns
      h3 let's get in touch
      p
        |we would love to hear from you

      section.section
      .content(data-slug='panel2')
        ul.large-block-grid-5
          li
            a(href='mailto:laurelcarlson1@gmail.com')
              img(src='/img/laurel1.jpeg')
              | Laurel Karlsson
          li
            a(href='http://www.callmejoe.net/')
              img(src='/img/joe.png')
              | Joe Karlsson