extends layout

block content

    .hero
      .row
        .large-12.columns.intro-text
          p
            |Bechdel Tester
          p
            |Find out if your favorite movie passes the test
    .row.about
      .medium-6.large-8.columns
        h4 About
        p
          |The Bechdel Test, sometimes called the Mo Movie Measure or Bechdel Rule is a simple test which names the following three criteria:
        p
          |1) It includes at least two women
        p
          |2) who have at least one conversation
        p
          |3) about something other than a man or men.
        p
            The test was popularized by Alison Bechdel's comic Dykes to Watch Out For, in a 1985 strip called The Rule. For a nice video introduction to the subject please check out The Bechdel Test for Women in Movies on feministfrequency.com.
      .medium-6.large-4.columns
    .row.about
      .large-12.columns
        h3 About the Bechdel test
        p
          a(href='http://alisonbechdel.blogspot.com/2005/08/rule.html')
            | DTWOF: The Blog about
            i The Rule
        p
          a(href='http://en.wikipedia.org/wiki/Bechdel_test') Wikipedia: Bechdel test
        p
          a(href='http://squarise.com/2011/09/bechdel-test-is-matters/') The Bechdel Test: What It Is, And Why It Matters
        p
          a(href='http://tvtropes.org/pmwiki/pmwiki.php/Main/BechdelsRule') TV Tropes Wiki: Bechdels Rule
        p
          a(href='http://www.spiraling.com/words/movies.html') A New Rating System for Movies
        h3 Articles
        p
          a(href='http://fivethirtyeight.com/features/the-dollar-and-cents-case-against-hollywoods-exclusion-of-women/') The Dollar-And-Cents Case Against Hollywood's Exclusion of Women
        p
          a(href='http://www.overthinkingit.com/2010/10/11/female-character-flowchart/') The Female Character Flowchart
        p
          a(href='http://latimesblogs.latimes.com/movies/2010/02/where-are-the-women-.html') Memo to all women: No half for you in Hollywood
        p
          a(href='http://thehathorlegacy.com/why-film-schools-teach-screenwriters-not-to-pass-the-bechdel-test/') Why film schools teach screenwriters not to pass the Bechdel test
        p
          a(href='http://thehathorlegacy.com/remember-when-i-said-they-teach-you-not-to-write-screenplays-with-women-as-leads/')
            | Remember when I said they teach you not to write screenplays with women as leads?
        p
          a(href='http://socialjusticefeminist.blogspot.com/2008/05/cartoons-are-more-than-just.html') Cartoons are more than just entertainment
        p
          a(href='http://www.npr.org/templates/story/story.php?storyId=94202522') The 'Bechdel Rule,' Defining Pop-Culture Character
        h3 Review sites
        p
          a(href='http://feministreview.blogspot.com/') Feminist Review
        p
          a(href='http://bechdelandme.blogspot.com/') Bechdel and Me
        p
          a(href='http://thebechdeltest.blogspot.com/') No, Kissing in the Rain Is Not Acceptable
        p
          a(href='http://www.womenandhollywood.com/') Women & Hollywood
        p
          a(href='http://popgoesalicia.wordpress.com/') pop!goesalicia
        p
          a(href='http://animation.memory-motel.net/') A Feminist Critique of Animation
        p
          a(href='http://www.mith2.umd.edu/WomensStudies/FilmReviews/') Women's Studies Database ♀ Film Reviews