extends layout

block content

  .row
    .large-4.columns.text-left
      h1 American Sniper (2014)

  .row
    .large-4.columns
      .poster
        img(src="http://www.seat42f.com/wp-content/uploads/2014/10/American-Sniper-Movie-Poster-690x1024.jpg")
      h5 Bechdel Test: Failed
      h5 Bechdel Score: 2 out of 3

    .large-4.columns
        p
          |Navy S.E.A.L. sniper Chris Kyle's pinpoint accuracy saves countless lives on the battlefield and turns him into a legend. Back home to his wife and kids after four tours of duty, however, Chris finds that it is the war he can't leave behind.
        p
          |Director: Clint Eastwood
          |Writers: Jason Hall, Chris Kyle (book)
          |Stars: Bradley Cooper, Sienna Miller, Kyle Gallner
        p
          |Genre: Action | Biography | Drama | History | Thriller | War
        p
          |Box Office:
          |Budget: $58,800,000 (estimated)
          |Opening Weekend: $676,909 (USA) (2 January 2015)
          |Gross: $350,123,553 (USA) (19 June 2015)

    .large-4.columns
      iframe(width="100%", height="100%", src="https://www.youtube.com/embed/MItGoIxoVGk", frameborder="0", allowfullscreen="")
      p
        a(href='http://www.imdb.com/title/tt2179136/') IMDB Page
      p
        a(href='http://bechdeltest.com/view/6118/american_sniper/') bechdeltest.com Page

  .row
    .large-4.columns
      p.text-center
        |Number of scenes that passed the Bechdel Test
      div#passedBechdelDonut.chart

    .large-4.columns
      p.text-center
        |Characters with dialogue
      div#charWithDialogueDonut.chart

    .large-4.columns
      p.text-center
        |Total lines of dialogue
      div#totalLinesDialogueDonut.chart

  script(src="/js/graph.js")