extends layout

block content

  .row
    .large-9.columns
        h3 let's get in touch
        p
          |we would love to hear from you

        .section-container.tabs(data-section='')
          section.section
            h5.title
              a(href='#panel1') contact us
            .content(data-slug='panel1')
              form
                .row.collapse
                  .large-2.columns
                    label.inline your name
                  .large-10.columns
                    input#yourName(type='text', placeholder='Jane Smith')
                .row.collapse
                  .large-2.columns
                    label.inline  your email
                  .large-10.columns
                    input#yourEmail(type='text', placeholder='jane@smithco.com')
                label what&apos;s up?
                textarea(rows='4')
                button.radius.button(type='submit') submit

          section.section
          .content(data-slug='panel2')
            ul.large-block-grid-5
              li
                a(href='mailto:laurelcarlson1@gmail.com')
                  img(src='/img/laurel1.jpeg')
                  | Laurel Karlsson
              li
                a(href='http://www.callmejoe.net/')
                  img(src='/img/joe.png')
                  | Joe Karlsson