extends layout

block content

  .row
    .large-9.columns
        h3 Get in Touch!
        p
          |We would love to hear from you. We love getting email.

        .section-container.tabs(data-section='')
          section.section
            h5.title
              a(href='#panel1') Contact Us
            .content(data-slug='panel1')
              form
                .row.collapse
                  .large-2.columns
                    label.inline Your Name
                  .large-10.columns
                    input#yourName(type='text', placeholder='Jane Smith')
                .row.collapse
                  .large-2.columns
                    label.inline  Your Email
                  .large-10.columns
                    input#yourEmail(type='text', placeholder='jane@smithco.com')
                label What&apos;s up?
                textarea(rows='4')
                button.radius.button(type='submit') Submit

          section.section
            .content(data-slug='panel2')
              ul.large-block-grid-5
                li
                  a(href='mailto:joe.carlson@callmejoe.net')
                    img(src='http://placehold.it/200x200&text=[person]')
                    | Joe Karlsson
                li
                  a(href='mailto:laurelcarlson1@gmail.com')
                    img(src='http://placehold.it/200x200&text=[person]')
                    | Laurel Karlsson