extends layout

block content

  .row
    .large-12.columns
      h3 2015 oscar best picture nominees

  .row
    br
    .large-4.columns
      .poster
        a(href='/american-sniper')
          img(src="http://www.seat42f.com/wp-content/uploads/2014/10/American-Sniper-Movie-Poster-690x1024.jpg")
    .large-4.columns
      .poster
        a(href='/birdman')
          img(src="http://www.movienewz.com/img/gallery/birdman/posters/birdman-movie-poster-1.jpg")
    .large-4.columns
      .poster
        a(href='/boyhood')
          img(src="http://randomcelebs.com/wp-content/uploads/2015/02/Boyhood-Movie-Poster-13.jpg")

  .row
    br
    .large-4.columns
      .poster
        a(href='/foxcatcher')
          img(src="http://www.movienewz.com/img/gallery/foxcatcher/posters/foxcatcher_movie_poster_1.jpg")
    .large-4.columns
      .poster
        a(href='/gone-girl')
          img(src="https://elipunto.files.wordpress.com/2014/08/gone-girl-poster.jpg")
    .large-4.columns
      .poster
        a(href='/grand-budapest-hotel')
          img(src="http://www.moviepilot.de/files/images/movie/file/10970951/grand-budapest-hotel-poster-2_article.jpg")

  .row
    br
    .large-4.columns
      .poster
        a(href='/imitation-game')
          img(src="http://www.razorfine.com/wp-content/uploads/2014/12/the-imitation-game-poster-600x849.jpg")
    .large-4.columns
      .poster
        a(href='/into-the-woods')
          img(src="http://www.dvd-forum.at/img/uploaded/into-the-woods-poster-news.jpg")
    .large-4.columns
      .poster
        a(href='/still-alice')
          img(src="http://www.aceshowbiz.com/images/still/still-alice-poster01.jpg")

  .row
    br
    .large-4.columns
      .poster
        a(href='/theory-of-everthing')
          img(src="http://www.seat42f.com/wp-content/uploads/2014/08/The_Theory-Of_Everything_Movie_Poster.jpg")
    .large-4.columns
      .poster
        a(href='/judge')
          img(src="http://static2.hypable.com/wp-content/uploads/2014/06/the-judge-poster.jpg")
    .large-4.columns
      .poster
        a(href='/whiplash')
          img(src="https://s.aolcdn.com/hss/storage/midas/220e7241ec0f8e5cacafdc576d2a80be/200579756/WHIPLASH+onesheet.jpg")
  .row
    br
    .large-4.columns
      .poster
        a(href='/wild')
          img(src="http://www.dvdsreleasedates.com/posters/800/W/Wild-2014-movie-poster.jpg")