extends layout

block content

  .row
    .large-4.columns.text-left
      h1 Grand Budapest Hotel (2014)

  .row
    .large-4.columns
      .poster
        img(src="http://www.moviepilot.de/files/images/movie/file/10970951/grand-budapest-hotel-poster-2_article.jpg")
      h5 Bechdel Test: Failed
      h5 Bechdel Score: 1 out of 3

    .large-4.columns
        p
          |The adventures of Gustave H, a legendary concierge at a famous hotel from the fictional Republic of Zubrowka between the first and second World Wars, and Zero Moustafa, the lobby boy who becomes his most trusted friend.
        p
          |Director: Wes Anderson
          |Writers: Stefan Zweig (inspired by the writings of), Wes Anderson (screenplay)
          |Stars: Ralph Fiennes, F. Murray Abraham, Mathieu Amalric
        p
          |Genre: Adventure | Comedy | Drama
        p
          |Box Office:
          |Budget: €23,000,000 (estimated)
          |Opening Weekend: $811,166 (USA) (7 March 2014)
          |Gross: $59,073,773 (USA) (22 August 2014)

    .large-4.columns
      iframe(width="100%", height="100%", src="https://www.youtube.com/embed/1Fg5iWmQjwk", frameborder="0", allowfullscreen="")
      p
        a(href='http://www.imdb.com/title/tt2278388/') IMDB Page
      p
        a(href='http://bechdeltest.com/view/5229/the_grand_budapest_hotel/') bechdeltest.com Page

  .row
    .large-4.columns
      p.text-center
        |Number of scenes that passed the Bechdel Test
      div#passedBechdelDonut.chart

    .large-4.columns
      p.text-center
        |Characters with dialogue
      div#charWithDialogueDonut.chart

    .large-4.columns
      p.text-center
        |Total lines of dialogue
      div#totalLinesDialogueDonut.chart

  script(src="/js/graph.js")