extends layout

block content
  //- script(src="/js/graph.js")
  .row
    .medium-6.columns.left
      h1 The Bechdel Test
        p
          | is a simple test which names the following three criteria:
          p
            |1) It includes at least two women
          p
            |2) who have at least one conversation
          p
            |3) about something other than a man or men.
          p
            |The test was popularized by Alison Bechdel's comic Dykes to Watch Out For, in a 1985 strip called The Rule.
    .medium-6.columns

  h1 2014 Oscar Best Picture Nominees Bechdel Test Breakdown

  .row
    .large-4.columns
      div#chart
      h5 My Site
    .large-4.columns
      img.thumbnail(src='http://placehold.it/550x550')
      h5 My Site
    .large-4.columns
      img.thumbnail(src='http://placehold.it/550x550')
      h5 My Site
    .column.large-4
      img.thumbnail(src='http://placehold.it/550x550')
      h5 My Site
    .column.large-4
      img.thumbnail(src='http://placehold.it/550x550')
      h5 My Site
    .column.large-4
      img.thumbnail(src='http://placehold.it/550x550')
      h5 My Site
    .column.small-12
      div#charttwo
      h5 My Site

  script(src="/js/graph.js")




