extends layout

block content

  h1 2015 Oscar Best Picture Nominees Bechdel Test Breakdown

  .row
    .large-4.columns
      div#chart
      h5 My Site

    .large-4.columns
      img.thumbnail(src='http://placehold.it/550x550')
      h5 My Site

    .large-4.columns
      img.thumbnail(src='http://placehold.it/550x550')
      h5 My Site

    .column.large-4
      img.thumbnail(src='http://placehold.it/550x550')
      h5 My Site

    .column.large-4
      img.thumbnail(src='http://placehold.it/550x550')
      h5 My Site

    .column.large-4
      img.thumbnail(src='http://placehold.it/550x550')
      h5 My Site

    .column.small-12
      div#charttwo
      h5 My Site

  script(src="/js/graph.js")