extends layout

block content

  h1 HTML Ipsum Presents
    p
      strong Pellentesque habitant morbi tristique
      |  senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      em Aenean ultricies mi vitae est.
      |  Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
      code commodo vitae
      | , ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
      a(href='#') Donec non enim
      |  in turpis pulvinar facilisis. Ut felis.
    h2 Header Level 2
    ol
      li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      li Aliquam tincidunt mauris eu risus.

  .row
    .large-12.columns
      p
        |Bechdel Tester
      p
        |Find out if your favorite movie passes the test
  .row
    .medium-6.large-8.columns
      h4 About
      p
        |The Bechdel Test, sometimes called the Mo Movie Measure or Bechdel Rule is a simple test which names the following three criteria:
      p
        |1) It includes at least two women
      p
        |2) who have at least one conversation
      p
        |3) about something other than a man or men.
      p
          The test was popularized by Alison Bechdel's comic Dykes to Watch Out For, in a 1985 strip called The Rule. For a nice video introduction to the subject please check out The Bechdel Test for Women in Movies on feministfrequency.com.

