extends layout

block content

  h1 2015 oscar best picture nominees

  .row
    .large-4.columns
      div#passedBechdelDonut.chart
      p.text-center
        |Percent of films that passed the Bechdel Test

    .large-4.columns
      div#charWithDialogueDonut.chart
      p.text-center
        |Average percent of characters with dialogue per film

    .large-4.columns
      div#totalLinesDialogueDonut.chart
      p.text-center
        |Average total lines of dialogue per film

    .column.small-12
      div#bechdelScoreBar.chart
      p.text-center
        |Bechdel Score by Film

  script(src="/js/graph.js")