extends layout

block content

    .hero
      .row
        .large-12.columns.intro-text
          p
            |Bechdel Tester
          p
            |Find out if your favorite movie passes the test
    .row.about
      .medium-6.large-8.columns
        h4 About
        p
          |The Bechdel Test, sometimes called the Mo Movie Measure or Bechdel Rule is a simple test which names the following three criteria:
        p
          |1) It includes at least two women
        p
          |2) who have at least one conversation
        p
          |3) about something other than a man or men.
        p
            The test was popularized by Alison Bechdel's comic Dykes to Watch Out For, in a 1985 strip called The Rule. For a nice video introduction to the subject please check out The Bechdel Test for Women in Movies on feministfrequency.com.
      .medium-6.large-4.columns