extends layout

block content

  h1 2015 Oscar Best Picture Nominees Bechdel Test Breakdown

  .row
    .large-4.columns
      div#chartOne.chart

    .large-4.columns
      div#chartTwo.chart

    .large-4.columns
      div#chartThree.chart

    .column.small-12
      div#chartFour.chart

  script(src="/js/graph.js")