extends layout

block content

  h1 2015 Oscar Best Picture Nominees Bechdel Test Breakdown

  .row
    .large-4.columns
      div#chartOne
      h5 My Site

    .large-4.columns
      div#chartTwo
      h5 My Site

    .large-4.columns
      div#chartThree
      h5 My Site

    .column.small-12
      div#chartFour
      h5 My Site

  script(src="/js/graph.js")