extends layout

block content

  h1 2015 oscar best picture nominees

  .row
    .large-4.columns
      p.text-center
        |Percent of films that passed the Bechdel Test
      div#passedBechdelDonut.chart

    .large-4.columns
      p.text-center
        |Average percent of characters with dialogue per film
      div#charWithDialogueDonut.chart

    .large-4.columns
      p.text-center
        |Average total lines of dialogue per film
      div#totalLinesDialogueDonut.chart

    .column.small-12
      p.text-center
        |Bechdel Score by Film
      div#bechdelScoreBar.chart
  .row
    .small-1.columns
      a.button(href="#") Default Button
    .small-1.columns
      a.button(href="#") Default Button
    .small-1.columns
      a.button(href="#") Default Button
    .small-1.columns
      a.button(href="#") Default Button
    .small-1.columns
      a.button(href="#") Default Button
    .small-1.columns
      a.button(href="#") Default Button
    .small-1.columns
      a.button(href="#") Default Button



  script(src="/js/graph.js")