extends layout

block content

  .row
    .large-4.columns.text-left
      h1 Into The Woods (2014)

  .row
    .large-4.columns
      .poster
        img(src="http://www.dvd-forum.at/img/uploaded/into-the-woods-poster-news.jpg")
      h5 Bechdel Test: Passed
      h5 Bechdel Score: 3 out of 3

    .large-4.columns
        p
          |A witch tasks a childless baker and his wife with procuring magical items from classic fairy tales to reverse the curse put on their family tree.
        p
          |Director: Rob Marshall
          |Writers: James Lapine (screenplay), James Lapine (musical)
          |Stars: Anna Kendrick, Meryl Streep, Chris Pine
        p
          |Genre: Adventure | Fantasy | Musical
        p
          |Box Office:
          |Budget: $50,000,000 (estimated)
          |Opening Weekend: $31,021,000 (USA) (26 December 2014)
          |Gross: $127,997,349 (USA) (10 April 2015)

    .large-4.columns
      iframe(width="100%", height="100%", src="https://www.youtube.com/embed/MItGoIxoVGk", frameborder="0", allowfullscreen="")
      p
        a(href='http://www.imdb.com/title/tt2180411/') IMDB Page
      p
        a(href='http://bechdeltest.com/view/6000/into_the_woods/') bechdeltest.com Page

  .row
    .large-4.columns
      p.text-center
        |Number of scenes that passed the Bechdel Test
      div#passedBechdelDonut.chart

    .large-4.columns
      p.text-center
        |Characters with dialogue
      div#charWithDialogueDonut.chart

    .large-4.columns
      p.text-center
        |Total lines of dialogue
      div#totalLinesDialogueDonut.chart
  br

  .row
    .large-6.columns
      h5 Scenes that pass the Bechdel Test
      p
        |INT. BLETCHLEY PARK - BEER HUT - NIGHT
        |An impromptu ENGAGEMENT PARTY in the Beer Hut that night:
        |— A BANNER made from PUNCH CARDS reads: “CONGRATULATIONS!”
        |— Music plays as DANCERS TWIRL in the center of the Hut.
        |— Joan LAUGHS with her WREN FRIENDS in one corner, while in another Alan drinks beer with his team.
        |ON JOAN AND THE GIRLS: She shows off her makeshift wire engagement ring:
      p
        |JOAN’S FRIEND (trying her best)
        |... It’s... beautiful? Joan LAUGHS. She understands.
      p
        |JOAN CLARKE
        |I know it’s not an ordinary ring...
        |She looks over at Alan warmly.
      p
        |JOAN CLARKE (CONT’D) ... But who ever loved ordinary?
        |ON ALAN AND THE BOYS: They’re are all a bit drunk, TELLING DIRTY STORIES:
      p
        |HUGH ALEXANDER
        |... So she’s got it in her hands,
        |right, and she looks up at me and says, “I’m to put it in my mouth?” And I say, “yes, you know. The French way.” So she pops it in, closes her lips around the thing... And then she starts humming the bloody Marseillaise!

    .large-6.columns
      p.text-center
        |Continued...

  script(src="/js/graph.js")