doctype html

html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Bechdel Test Visualizer automatically tests films using the Bechdel Test, and visualizes the results.')
    meta(name='author', content='Joe Carlson <joe [at] callmejoe [dot] net>')
    meta(name='copyright', content='Copyright (c) 2015 - Joe Carlson')

    link(rel="apple-touch-icon", sizes="57x57", href="/favicon/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/favicon/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/favicon/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/favicon/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/favicon/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/favicon/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/favicon/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/favicon/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon/favicon-194x194.png", sizes="194x194")
    link(rel="icon", type="image/png", href="/favicon/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/favicon/manifest.json")
    link(rel="mask-icon", href="/favicon/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")

    meta(property="og:description", content="Bechdel Test Visualizer automatically tests films using the Bechdel Test, and visualizes the results.")
    meta(property="og:title", content="Bechdel Test Visualizer")
    meta(property="og:url", content="https://bechdel-test.herokuapp.com/")
    meta(property="og:type", content="website")
    meta(property="og:image", content="https://bechdel-test.herokuapp.com/bechdel-test_white.png")
    link(rel="author", href="https://plus.google.com/u/0/+JoeKarlsson/posts")
    meta(name="twitter:card", content="https://bechdel-test.herokuapp.com/bechdel-test_white.png")

    link(rel='stylesheet', href='css/app.css')
    script(src='/js/d3.min.js')
    script(src='/js/c3.min.js')

  body
    .row.fullWidth.layout
      aside#aside-main.aside-main.small-12.medium-4.large-3.columns.unpad
        .row.header-bar.text-center.grey2
          a(href='/') Bechdel Test Visualization
        header
          img.center(src='http://placehold.it/700x500')
        ul.no-bullet.side-nav
          li
            a(href='/')
              i.fi-torso
              |           Dashboard
          li.clearfix
            a.left(href='/about')
              i.fi-alert
              |           About
          li
            a(href='/philosophy')
              i.fi-wrench
              |           Philosophy
          li
            a(href='/contact')
              i.fi-cloud
              |           Contact
          footer.footer
            .row
              .small-12
                p.slogan
                  a(href='/') Bechdel Test
                //- p.links
                //-   a(href='/about') About
                //-   a(href='/philosophy') Philosophy
                //-   a(href='/contact') Contact
                p.copywrite Karlsson Productions © 2015

      #section-main.small-12.medium-8.large-9.columns
        .row.header-bar.grey1
          ul.inline-list.left
            li
              a#aside-toggle(href='#')
                i.fi-list
            li
              //- a(href='/') Bechdel Test Visualization

        block content

  script(src='/js/jquery.min.js')
  script(src='/js/foundation.min.js')

  script.
    $(document).foundation();
    $("#aside-toggle").click(function() {
    $("#aside-main").toggleClass('hide');
    $("#section-main").toggleClass('medium-8').toggleClass('medium-12');
    $("#section-main").toggleClass('large-9').toggleClass('large-12');
    });