doctype html

html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Bechdel Tester accepts a movie script and analzes whether or not it passes the Bechdel Test, as well as analyzing several other feminist components to a film. ')
    meta(name='author', content='Joe Carlson <joe [at] callmejoe [dot] net>')
    meta(name='copyright', content='Copyright (c) 2015 - Joe Carlson')
    link(rel='stylesheet', href='css/app.css')
    script(src='/js/d3.min.js')
    script(src='/js/c3.min.js')

  body
    .row.fullWidth.layout
      aside#aside-main.aside-main.small-12.medium-4.large-3.columns.unpad
        .row.header-bar.text-center.grey2
          | Dashboard
        header
          img.center(src='http://placehold.it/700x500')
        ul.no-bullet.side-nav
          li
            a(href='#')
              i.fi-torso
              |           Account
          li.clearfix
            a.left(href='#')
              i.fi-alert
              |           Notifications
            span.alert.radius.label.right 0
          li
            a(href='#')
              i.fi-wrench
              |           Link #3
          li
            a(href='#')
              i.fi-cloud
              |           Link #4
          li
            a(href='#')
              i.fi-graph-bar
              |           Link #5
          footer.footer
            .row
              .small-12
                p.slogan Finger-lickin' good
                p.links
                  a(href='#') About
                  a(href='#') Faq
                  a(href='#') Contact
                p.copywrite Copywrite not copypwrite © 2015

      #section-main.small-12.medium-8.large-9.columns
        .row.header-bar.grey1
          ul.inline-list.left
            li
              a#aside-toggle(href='#')
                i.fi-list
            li
              a(href='#') Bechdel Test Visualization

        block content

  script(src='/js/jquery.min.js')
  script(src='/js/foundation.min.js')

  script.
    $(document).foundation();
    $("#aside-toggle").click(function() {
    $("#aside-main").toggleClass('hide');
    $("#section-main").toggleClass('medium-8').toggleClass('medium-12');
    $("#section-main").toggleClass('large-9').toggleClass('large-12');
    });