.section {
	padding: 8rem 0 7rem;
}

.section-heading,
.section-description {
	margin-bottom: 1.2rem;
}

.hero {
	background-image: url('../../../assets/images/hero.jpg');
	background-size: cover;
	color: #fff;
	display: flex;
	align-items: center;
	text-align: center;

	.hero-heading {
		text-align: center;
	}
}
