.film-image {
	width: 100%;
	position: relative;
}

.film-hero-title {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	color: #fff;
	display: flex;
	align-items: center;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
