@import "settings";
@import "foundation";
@import "normalize";
@import 'foundation/components/offcanvas';
@import 'foundation/components/grid';
@import 'foundation/components/visibility';

/**
 * Common
 */
.fullWidth {
   width: 100%;
   min-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   min-height: 100%;
}
img.center {
  display: block;
  margin: auto;
}
.unpad {
  padding: 0;
}

body{
  background-image:url('http://www.jamiecoulter.co.uk/dev/codepen/blurred_bg.jpg');
  font-family: 'Raleway', sans-serif;
  height:100%;
}

/**
 * Page
 */
html, body, .layout, #aside-main, .aside-main, .side-nav {
  height: 100%;
}
.header-bar {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.8);
  background-color: $dark2;
}
.header-bar a {
  color: rgba(255, 255, 255, 0.8);
}
.aside-toggle {
  font-size: 1.4em;
}
.header-bar ul {
  line-height: inherit;
}

.aside-main,
.aside-main .header-bar,
.side-nav {
  background-color: $dark1;
  top: 0;
  bottom: 0;
}
.side-nav li {
  padding: 10px 20px;
  border-bottom: 1px solid #DBDBDB;
  font-size: 1.2em;
}
.side-nav li a {
  color: $light;
}

.main_inner {
  padding: 20px;
}

/**
 * D3 Graphs
 */
 .chart rect {
   fill: steelblue;
 }

 .chart text {
   fill: white;
   font: 10px sans-serif;
   text-anchor: end;
 }


/**
 * Footer
 */
.footer {
  background-color: $dark1;
  text-align: center;
  font-size: 1.2rem; }
  .footer p.slogan {
    color: $primary;
    font-size: 1.8rem;
    margin: 0 0 1rem; }
  .footer p.copywrite {
    color: $primary;
    font-size: 0.875rem;
    margin: 0 0 1rem; }
  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; }
    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
